*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;  
    
}
body
{
    background-color: black; 
    

}

.container
{
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100%; 
    
}
.colors ,.typo
{
    
    display: flex;
    height: 10vh;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.typo{

    color: aliceblue;
}


.colorSelect
{
    height:30px;
    width: 30px;
    border-radius:100% ;
    border: none;
    margin-left: 4%;
   
   
}
h6
{
    color: aliceblue;
}
#color-RED
{
    background-color: red;
    
    
    

    
     
}
#color-YELLOW
{
    background-color: yellow;
}
#color-WHITE
{
    background-color: aliceblue;
}
#color-GREEN
{
    background-color: greenyellow;
}
#color-PINK
{
    background-color: rgba(251, 5, 161, 0.792);
    border: 5px solid orange;
}

.clock
{

    padding: 3%;
    width: 80%;
    text-align: center;
    color:antiquewhite;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    background:rgba(0 ,0 ,0 ,0.5);
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
    
    
    
}
.display-6
{
    font-size: 20px;
}

#hours ,#minutes ,#seconds
{

    margin-top: 30%;
    display: block;
}

@media only screen and (min-width: 768px) {
   
    .display-6
    {
    font-size: 45px;
    }
  }
